.app {
    font-family: 'ZenKurenaido', Arial, sans-serif;
    background-color: #1e1e1e;
    width: 100%;
    color: white;
    min-width: 300px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}